<div class="columns mt-5">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-align-items-center">
          <div class="media-left p-l-12 p-r-13">
            <i class="fas fa-dollar is-size-3 has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="is-size-2 has-text-centered">Africa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-align-items-center">
          <div class="media-left p-l-12 p-r-13">
            <i class="fas fa-list is-size-3 has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="is-size-2 has-text-centered">Asia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-align-items-center">
          <div class="media-left p-l-12 p-r-13">
            <i class="fas fa-rectangle-list is-size-3 has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="is-size-2 has-text-centered">Europe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-align-items-center">
          <div class="media-left p-l-12 p-r-13">
            <i class="far fa-id-card is-size-3 has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="is-size-2 has-text-centered">North America</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-align-items-center">
          <div class="media-left p-l-12 p-r-13">
            <i class="far fa-id-card is-size-3 has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="is-size-2 has-text-centered">South America</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-align-items-center">
          <div class="media-left p-l-12 p-r-13">
            <i class="far fa-id-card is-size-3 has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="is-size-2 has-text-centered">Australia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
