.container {
  width: 80%;
  margin: auto;
}

.bg-image {
  background: url("../../../assets/images/bg.png") center center;
  margin-top: -100px;
  background-size: cover;
}

.tabs a {
  font-size: 0.8em;
  padding: 1.25em;
}

.tabs.is-toggle a {
  border: none;
}

table,
thead th,
td,
.tabs {
  vertical-align: middle;
  background-color: #1f1f1f;
  color: whitesmoke;
}

#crypto-link {
  color: inherit;
  &#crypto-link:hover {
    color: #d1d1d1;
  }
}

.card {
  border-radius: 15px;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.paginator a {
  padding: 12px 19px 12px 19px;
  color: white;
}

.paginator a:hover {
  background-color: #384265;
  border-radius: 14px;
}

.current {
  background-color: #21242e;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prev-btn {
  border: 0;
  background-color: #1f1f1f;
}

#next-btn {
  border: 0;
  background-color: #1f1f1f;
}

#search-bar {
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  margin-top: 150px;
}

input,
input::placeholder {
  font: 18px sans-serif;
}

#input-bar {
  border-radius: 40px;
  background-color: #1f1f1f;
  color: white;
}
.input:focus {
  outline: none !important;
  border: 2px solid #fafafa;
}
::placeholder {
  color: white;
  opacity: 0.5;
}

input {
  border: none;
}
