table {
  width: 100%;
  height: 100%;
}

table th {
  vertical-align: middle;
}

.symbol {
  opacity: 0.5;
  padding-left: 8px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.green {
  color: #7cc39c;
}
.red {
  color: #ef6868;
}
