.bg-image {
  background: url("../../../assets/images/bg.png") center center;
  margin-top: -100px;
  background-size: cover;
}

#trending,
#losers,
#gainers {
  max-width: 450px;
  border-radius: 20px;
}

#crypto-link {
  color: inherit;
  &#crypto-link:hover {
    color: #d1d1d1;
  }
}
#search-bar {
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  margin-top: 150px;
}

input,
input::placeholder {
  font: 18px sans-serif;
}

#input-bar {
  border-radius: 40px;
  background-color: #1f1f1f;
  color: white;
}
.input:focus {
  outline: none !important;
  border: 2px solid #fafafa;
}
::placeholder {
  color: white;
  opacity: 0.5;
}

input {
  border: none;
}
.item {
  display: block;
  max-width: 24px !important;
  height: auto;
}
