<ng-container *ngIf="!isLoading">
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div *ngIf="trending" class="card-content">
          <div
            class="columns"
            *ngFor="let coins of trendingCoins; let i = index"
          >
            <p class="column p-1">
              {{ trendingCoins[i].name }}
            </p>
            <p class="column p-1">
              {{ trendingCoins[i].id }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Number">#</abbr></th>
        <th><abbr title="Name">Name</abbr></th>
        <th><abbr title="Price">Price</abbr></th>
        <th><abbr title="Market_cap">Market cap</abbr></th>
        <th><abbr title="% change in 1h">1h %</abbr></th>
        <th><abbr title="% change in 24h">24h %</abbr></th>
        <th><abbr title="% change in 7d">7d %</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of trending; let i = index">
        <td>
          <p class="is-size-6 has-text-white-bis">{{ i + 1 }}</p>
        </td>
        <td>
          <div class="is-flex is-align-items-center">
            <img
              class="coin-logo mr-3"
              src="https://s2.coinmarketcap.com/static/img/coins/32x32/1.png"
              loading="lazy"
              alt="USDT logo"
            />
            <a id="crypto-link">mock</a>
            <span class="has-text-grey-light pl-2"> mock </span>
          </div>
        </td>
        <td>mock</td>
        <td>mock</td>
        <td>
          <span class="icon-text">
            <span class="icon">
              <i></i>
            </span>
            <span>xxx%</span>
          </span>
        </td>
        <td>
          <span class="icon-text">
            <span class="icon">
              <i></i>
            </span>
            <span>%</span>
          </span>
        </td>
        <td>
          <span class="icon-text">
            <span class="icon">
              <i></i>
            </span>
            <span>$</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
