<ng-container *ngIf="!isLoading">
  <section id="top-section" class="section bg-image">
    <div id="search-bar" class="field">
      <p class="control has-icons-left">
        <input
          id="input-bar"
          class="input is-large"
          type="text"
          placeholder="Explore..."
        />
        <span class="ml-2 pr-3 icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>

    <div class="container cards-wrapper">
      <div
        class="columns is-variable is-6 mt-6 is-flex is-justify-content-space-around is-align-items-center"
      >
        <div class="column is-4">
          <div id="trending" class="card has-text-white-bis">
            <p class="is-size-4 pl-5 pt-4 has-text-weight-medium">
              Trending
              <span class="icon ml-2">
                <i class="fa-solid fa-ranking-star"></i>
              </span>
            </p>

            <div *ngIf="trending" class="card-content pt-3">
              <div
                class="columns is-vcentered pl-5 mt-1 is-flex"
                *ngFor="
                  let coins of trendingCoins | slice : 0 : 3;
                  let i = index
                "
              >
                <p class="pr-3 has-text-white-bis has-text-weight-medium">
                  {{ i + 1 }}
                </p>
                <img
                  class="image is-24x24 mr-2"
                  src="{{ trendingCoins[i].large }}"
                  alt="crypto icon"
                />
                <a
                  class="has-text-weight-semibold"
                  id="crypto-link"
                  (click)="openCrypto(trendingCoins[i].id)"
                >
                  {{ trendingCoins[i].name }}</a
                >
                <p class="column p-1 has-text-weight-medium">
                  <span
                    class="ml-2 has-text-grey-light has-text-weight-light"
                    >{{ trendingCoins[i].symbol }}</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div id="gainers" class="card has-text-white-bis">
            <p class="is-size-4 pl-5 pt-4 has-text-weight-medium">
              Top Gainers
              <span class="icon ml-2 has-text-success">
                <i class="fa-solid fa-arrow-trend-up"></i>
              </span>
            </p>

            <div *ngIf="gainers" class="card-content pt-3">
              <div
                class="columns is-vcentered pl-5 mt-1 is-flex"
                *ngFor="let gainer of gainers | slice : 0 : 3; let i = index"
              >
                <p class="pr-3 has-text-white-bis has-text-weight-medium">
                  {{ i + 1 }}
                </p>
                <img
                  class="image is-24x24 mr-2"
                  src="{{ gainer.image }}"
                  alt="crypto icon"
                />
                <a
                  class="has-text-weight-semibold"
                  id="crypto-link"
                  (click)="openCrypto(gainer.id)"
                >
                  {{ gainer.name }}</a
                >
                <p class="column p-1 has-text-weight-medium">
                  <span
                    class="ml-2 has-text-grey-light has-text-weight-light"
                    >{{ gainer.symbol }}</span
                  >
                </p>
                <p
                  class="pl-0 ml-0"
                  [ngClass]="
                    gainer.price_change_percentage_24h > 0
                      ? 'has-text-success'
                      : 'has-text-danger'
                  "
                >
                  <span class="icon-text">
                    <span class="icon">
                      <i
                        [ngClass]="
                          gainer.price_change_percentage_24h > 0
                            ? 'fa-solid fa-caret-up'
                            : 'fa-solid fa-caret-down'
                        "
                      ></i>
                    </span>
                    <span
                      >{{
                        gainer.price_change_percentage_24h | number : "1.2-2"
                      }}%</span
                    >
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div id="losers" class="card has-text-white-bis">
            <p class="is-size-4 pl-5 pt-4 has-text-weight-medium">
              Top Losers
              <span class="icon ml-2 has-text-danger">
                <i class="fa-solid fa-arrow-trend-down"></i>
              </span>
            </p>

            <div *ngIf="losers" class="card-content pt-3">
              <div
                class="columns is-vcentered pl-5 mt-1 is-flex"
                *ngFor="let loser of losers | slice : 0 : 3; let i = index"
              >
                <p class="pr-3 has-text-white-bis has-text-weight-medium">
                  {{ i + 1 }}
                </p>
                <img
                  class="image is-24x24 mr-2"
                  src="{{ loser.image }}"
                  alt="crypto icon"
                />
                <a
                  class="has-text-weight-semibold"
                  id="crypto-link"
                  (click)="openCrypto(loser.id)"
                >
                  {{ loser.name }}</a
                >
                <p class="column p-1 has-text-weight-medium">
                  <span
                    class="ml-2 has-text-grey-light has-text-weight-light"
                    >{{ loser.symbol }}</span
                  >
                </p>
                <p
                  class="pl-0 ml-0"
                  [ngClass]="
                    loser.price_change_percentage_24h > 0
                      ? 'has-text-success'
                      : 'has-text-danger'
                  "
                >
                  <span class="icon-text">
                    <span class="icon">
                      <i
                        [ngClass]="
                          loser.price_change_percentage_24h > 0
                            ? 'fa-solid fa-caret-up'
                            : 'fa-solid fa-caret-down'
                        "
                      ></i>
                    </span>
                    <span
                      >{{
                        loser.price_change_percentage_24h | number : "1.2-2"
                      }}%</span
                    >
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="tabs is-toggle is-fullwidth is-large">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon"> <i class="fas fa-house"></i></span>
          <span>Explorer</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon"
            ><i class="fas fa-file-alt" aria-hidden="true"></i
          ></span>
          <span>Categories</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon"
            ><i class="far fa-star" aria-hidden="true"></i
          ></span>
          <span>Favorites</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <app-table></app-table>
  </div>
</ng-container>
